name: Deploy Sysdig Teams via Helm Chart

on:
  push:
    branches:
      - main
    paths:
      - "sysdig-teams/**"
      - ".github/workflows/sysdig-teams.yml"

jobs:
  deploy-sysdig-teams:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    strategy:
      matrix:
        include:
          - host: https://api.gold.devops.gov.bc.ca:6443
            plate: c6af30
            token: GOLD_C6AF30_OPENSHIFT_TOKEN
          - host: https://api.gold.devops.gov.bc.ca:6443
            plate: eb75ad
            token: GOLD_EB75AD_OPENSHIFT_TOKEN
          - host: https://api.gold.devops.gov.bc.ca:6443
            plate: e4ca1d
            token: GOLD_E4CA1D_OPENSHIFT_TOKEN
          - host: https://api.gold.devops.gov.bc.ca:6443
            plate: b29129
            token: GOLD_B29129_OPENSHIFT_TOKEN
    steps:
      - uses: hmarr/debug-action@v3
      - uses: actions/checkout@v4

      - name: Authenticate and set context
        uses: redhat-actions/oc-login@v1
        with:
          openshift_server_url: ${{ matrix.host }}
          openshift_token: ${{ secrets[matrix.token] }}
          namespace: ${{ matrix.plate }}-tools
          insecure_skip_tls_verify: true

      - name: Deploy Sysdig Team via Helm chart
        run: ./deploy-${{ matrix.plate }}.sh
        working-directory: ./sysdig-teams
